#about {
  .intro {
    margin-bottom: 2rem;

    h2 {
      margin: 1.5rem auto;
      letter-spacing: 0.5px;
      border-bottom: 5px solid steelblue;
      width: fit-content;
    }

    .motto {
      opacity: 0.75;
      text-align: center;
      font-size: 1.25rem;
      margin: 2rem 0;
    }

    p {
      font-size: 1.1rem;
    }

    img {
      border-radius: 8px;
      object-fit: cover;
      display: block;
      margin: 0 auto 1rem auto;
    }
  }

  .skill {
    article {
      padding: 1rem 20px 0.25rem 20px;
      position: relative;
      overflow: hidden;
      margin-bottom: 1rem;
    }

    .color {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
    }

    .tools {
      margin-bottom: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
    }

    article img {
      height: 35px;
    }

    article p {
      margin: 0;
    }

    article p:first-of-type {
      font-size: 1.2rem;
    }

    article p:last-of-type {
      opacity: 0.75;
    }
  }

  .education {
    display: grid;
    place-items: center;

    i {
      font-size: 3rem;
    }
  }

  .favorite,
  .learning {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 1rem;

    img {
      height: 100px;
      margin-top: 0.5rem;
      width: 100%;
      object-fit: contain;
    }

    p {
      margin: 0.5rem 0 0 0;
      text-align: center;
    }
  }
}
