@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap");

body {
  height: 90vh;
  font-family: "Patrick Hand SC";
  padding: 1rem;

  background-size: 20px 40px;
  background-image: repeating-linear-gradient(
    0deg,
    #70707020,
    #70707020 2px,
    #e5e5f720 2px,
    #e5e5f720
  );
}

h1 {
  font-size: 3.25rem;
  text-align: center;
  margin-bottom: 50px;
}

.wrap {
  overflow: auto;
  border-radius: 12px;
}

img {
  margin: auto;
  max-width: 700px;
  display: block;
  object-fit: cover;
  border-radius: inherit;
}
