:root {
  body {
    min-height: 100vh;
    background-color: var(--background);
    line-height: 1.6;
    font-family: DMSans, 'Segoe Ui';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --cyan: #46abbd;
    --cyan-light: #d8edf0;
    --purple: rgb(185, 147, 229);
    --blue-dark: #25303a;

    &.light { 
      --secondary: var(--cyan-light);
      --on-secondary: var(--primary);
    }

    &.dark {
      --primary: var(--blue-dark);
      --secondary: var(--blue-dark);
      --surface: rgb(8, 9, 14);
      --background: #10151a;
      --on-primary: white;
      --on-surface: #dfdfdfe8; 
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

h1,
h2 {
  font-size: clamp(1.9rem, calc(1.2rem + 1.5vw), 2.5rem) !important;
}

section {
  padding: 1rem;
}