@font-face {
    font-family: DMSans;
    src: url('./fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

.font-300 {
    font-weight: 300 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-500 {
    font-weight: 500 !important;
}

.font-600 {
    font-weight: 600 !important;
}

.font-700 {
    font-weight: 700 !important;
}
